<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.zloop.mobile.biz.article">

    <application>
        <activity android:name=".websocket.WebsocketActivity">
        </activity>
        <activity android:name=".bottomtabs.BottomTabsActivity">
        </activity>
        <activity android:name=".socket.SocketActivity">
        </activity>
    </application>

</manifest>